config SUN7I_NAND
	depends on BLOCK
	depends on ARCH_SUN7I
	select SUNXI_NAND_PARTITION
	tristate "SUN7I v2.xx Nandflash Driver"
	---help---
	  Build AllWinner SUNXI sun7i NAND driver version v2.xx
	  from Allwinner SDK2.0 Lichee-3.4
